.ul-contains-li{
    width: 100%;
    height: 65px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    
}
/*style for background*/



button {
  background: white;
  border: solid 2px black;
  padding: .375em 1.125em;
  font-size: 1rem;
}

.button-arounder {
  font-size: 1.2rem;
  background: hsl(190, 72%, 35%);
  color: hsl(190deg, 10%, 95%);
  
  box-shadow: 0 0px 0px hsla(190deg, 15%, 5%, .2);
  transfrom: translateY(0);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  
  --dur: .15s;
  --delay: .15s;
  --radius: 16px;
  
  transition:
    border-top-left-radius var(--dur) var(--delay) ease-out,
    border-top-right-radius var(--dur) calc(var(--delay) * 2) ease-out,
    border-bottom-right-radius var(--dur) calc(var(--delay) * 3) ease-out,
    border-bottom-left-radius var(--dur) calc(var(--delay) * 4) ease-out,
    box-shadow calc(var(--dur) * 4) ease-out,
    transform calc(var(--dur) * 4) ease-out,
    background calc(var(--dur) * 4) steps(4, jump-end);
}

.button-arounder:hover,
.button-arounder:focus {
  box-shadow: 0 4px 8px hsla(190deg, 15%, 5%, .2);
  transform: translateY(-4px);
  background: hsl(230, 93%, 11%);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}






















.li-style-navbar{
    padding: 0 70px 0 0;
}

.ul-contains-li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.ul-contains-li a:hover{
    font-size: 18px;
    color: whitesmoke;	
}

/*style of main*/
/*encriptador*/
.div-text-enctipt{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
	opacity: 50%;
}

#text-for-encript, #text-encripting{
	overflow: auto; /* Esto hace que aparezca una barra de desplazamiento cuando el contenido es demasiado grande */
    white-space: pre-wrap; /* Esto hace que el texto se adapte al input */
    width: 95%;
    height: 400px;
    margin-top: 75px;
    margin-bottom: 35px;
    text-align: center;
    font-size: 35px;
    border-radius: 7px;
}

.div-buttons-section-transcript{
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 50%;
    align-items: center;
    justify-content: center;
}

/*when text has ben encriptated*/
.div-general-encript{
	margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
	width: 100%;
}

/*style of option*/
.style-option-bar{
    display: flex;
    align-items: center;
    text-align: center;
}


/*historial style*/
.input-like {
    border: 1px solid #ddd;
    padding: 10px;
    overflow: auto;
    height: 400px;
    width: 75%;
	margin-top: 20px;
    margin:40px auto;
}

.block {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.block table {
    width: 100%;
    border-collapse: collapse;
}

.block th, .block td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.block th {
    background-color: #f2f2f2;
    color: black;
}

.block tr:nth-child(even) {
    background-color: #f2f2f2;
}

/*end main*




/*Navigation*/
.navbar {
	background-color: #f7f9fa;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
}

.navbar .navbar-brand {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.navbar .logo-image img {
    width: 133px;
	height: 30px;
}

.navbar .logo-text {
	color: #333333;
	font-weight: 700;
	font-size: 2rem;
	line-height: 1rem;
	text-decoration: none;
}

.offcanvas-collapse {
	position: fixed;
	top: 3.25rem; /* adjusts the height between the top of the page and the offcanvas menu */
	bottom: 0;
	left: 100%;
	width: 100%;
	padding-right: 1rem;
	padding-left: 1rem;
	overflow-y: auto;
	visibility: hidden;
	background-color: #f7f9fa;
	transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.offcanvas-collapse.open {
	visibility: visible;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.navbar .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar .nav-item .nav-link {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	color: black;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
	color: #129dd8;
}

/* Dropdown Menu */
.navbar .dropdown .dropdown-menu {
	animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
	}
}

.navbar .dropdown-menu {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	border: none;
	background-color: #f7f9fa;
}

.navbar .dropdown-item {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	color: #6b747b;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	text-decoration: none;
}

.navbar .dropdown-item:hover {
	background-color: #f7f9fa;
	color: #129dd8;
}

.navbar .dropdown-divider {
	width: 100%;
	height: 1px;
	margin: 0.5rem auto 0.5rem auto;
	border: none;
	background-color: #e7e7e7;
}
/* end of dropdown menu */

.navbar .fa-stack {
	width: 2em;
	margin-right: 0.25rem;
	font-size: 0.75rem;
}

.navbar .fa-stack-2x {
	color: #ffffff;
	transition: all 0.2s ease;
}

.navbar .fa-stack-1x {
	color: #129dd8;
	transition: all 0.2s ease;
}

.navbar .fa-stack:hover .fa-stack-2x {
	color: #129dd8;
}

.navbar .fa-stack:hover .fa-stack-1x {
	color: #ffffff;
}

.navbar .navbar-toggler {
	padding: 0;
	border: none;
	font-size: 1.25rem;
}



/*main style*/
.general-div-information{
	margin-top: 180px;
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
	width: auto;
	align-items: center;
}

.general-div-information h2{
	margin-bottom: 15px;
	border-style: solid;
	border-radius: 7px;
	background-color: white;
	color: black;
	text-align: center;
}

.container-description{
	display: flex;
	flex-direction: column;
	width: 80%;
	align-items: center;
	justify-content: center;
	gap: 40px;
	border: black 3px;
	border-style: solid;
	border-radius: 7px;
	background-color: #3f424b;
	color: white;

}

.div-section-information h3, p{
	text-align: center;
	padding-bottom: 15px;
	
}
/*end main*

/*information challenge*/
.information-general-alura-one{
	display: flex;
	align-items:center;
	flex-direction: column;
	justify-content: center;
}

.information-challenge-div{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.information-general-alura-one h3{
	padding-bottom: 20px;
	font-size: 35px;
}

.information-alura{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 20px 20px;
	width: 70%;
	text-decoration: none;
	position: relative;
	margin-top: -150px;
	background-color: white;
	margin-bottom: 100px;
	border-style: solid;
	border-color: black;
	border-radius: 7px;
	border: 2px;
	/*font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*/
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 20px;
}

.information-alura a{
	color: rgb(219, 33, 33);
}

.img-information-alura{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*Footer*/
.footer {
	padding-top: 5.5rem;
	padding-bottom: 1.5rem;
	background-color: #3f424b;
}

.footer a {
	text-decoration: none;
}

.footer .footer-col {
	margin-bottom: 3rem;
}

.footer h6 {
	margin-bottom: 0.625rem;
	color: #cacfdf;
}

.footer p,
.footer a,
.footer ul {
	color: #cacfdf;
}

.footer .li-space-lg li {
	margin-bottom: 0.375rem;
}

.footer .footer-col.third .fa-stack {
	width: 2em;
	margin-bottom: 1.25rem;
	margin-right: 0.375rem;
	font-size: 1.375rem;
}

.footer .footer-col.third .fa-stack .fa-stack-2x {
	color: #cacfdf;
	transition: all 0.2s ease;
}

.footer .footer-col.third .fa-stack .fa-stack-1x {
    color: #3f424b;
	transition: all 0.2s ease;
}

.footer .footer-col.third .fa-stack:hover .fa-stack-2x {
    color: #129dd8;
}

.footer .footer-col.third .fa-stack:hover .fa-stack-1x {
	color: #ffffff;
}


/*RESPONSIVE DESIGN*/

/* Min-width 768px */
@media (min-width: 768px) {

	/* Services */
	.basic-2 .services-decoration {
		height: 40px;
	}
	/* end of services */


	/* Extra Pages */
	.ex-basic-1 .text-box {
		padding: 1.75rem 2rem 0.875rem 2rem;
	}
	/* end of extra pages */
}
/* end of min-width 768px */


/* Min-width 992px */
@media (min-width: 992px) {
	
	/* General Styles */
	.h2-heading {
		width: 35.25rem;
		margin-right: auto;
		margin-left: auto;
	}

	.p-heading {
		width: 46rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of general styles */


	/* Navigation */
	.navbar {
		padding-top: 1.75rem;
		background-color: transparent;
		box-shadow: none;
		transition: all 0.2s;
	}

	.navbar.top-nav-collapse {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		background-color: rgb(26, 119, 148);
	}

	.offcanvas-collapse {
		position: static;
		top: auto;
		bottom: auto;
		left: auto;
		width: auto;
		padding-right: 0;
		padding-left: 0;
		background-color: transparent;
		overflow-y: visible;
		visibility: visible;
	}

	.offcanvas-collapse.open {
		-webkit-transform: none;
		transform: none;
	}

	.navbar .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.navbar .nav-item .nav-link {
		padding-right: 0.625rem;
		padding-left: 0.625rem;
	}

	.navbar .dropdown-menu {
		margin-top: 0.25rem;
		box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.05);
	}

	.navbar .dropdown-divider {
		width: 90%;
	}

	.navbar .social-icons {
		margin-left: 0.5rem;
	}
	
	.navbar .fa-stack {
		margin-right: 0;
		margin-left: 0.25rem;
	}
	/* end of navigation */
	/* Footer */
	.footer .footer-col {
		margin-bottom: 2rem;
	}

	.footer .footer-col.first {
		display: inline-block;
		width: 320px;
		margin-right: 1.75rem;
		vertical-align: top;
	}
	
	.footer .footer-col.second {
		display: inline-block;
		width: 320px;
		margin-right: 1.75rem;
		vertical-align: top;
	}
	
	.footer .footer-col.third {
		display: inline-block;
		width: 224px;
		text-align: right;
		vertical-align: top;
	}

	.footer .footer-col.third .fa-stack {
		margin-right: 0;
		margin-left: 0.375rem;
	}
	/* end of footer */


	/* Extra Pages */
	.ex-cards-1 .card {
		display: inline-block;
		width: 296px;
		vertical-align: top;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 1rem;
		margin-left: 1rem;
	}
	/* end of extra pages */

	
/*main design responsive*/
	/*main style*/
.general-div-information{
	margin-top: 180px;
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
	width: auto;
	align-items: center;
}

.general-div-information h2{
	margin-bottom: 15px;
	border-style: solid;
	border-radius: 7px;
	background-color: white;
	color: black;
}

.container-description{
	display: flex;
	flex-direction: row;
	width: 80%;
	align-items: center;
	justify-content: center;
	gap: 40px;
	border: black 3px;
	border-style: solid;
	border-radius: 7px;
	background-color: #3f424b;
	color: white;

}

.div-section-information h3, p{
	text-align: center;
	padding-bottom: 15px;
	
}
/*end main*

/*information challenge*/
.information-general-alura-one{
	display: flex;
	align-items:center;
	flex-direction: column;
	justify-content: center;
}

.information-challenge-div{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.information-general-alura-one h3{
	padding-bottom: 20px;
	font-size: 35px;
}

.information-alura{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px 20px;
	width: 70%;
	text-decoration: none;
	position: relative;
	margin-top: -150px;
	background-color: white;
	margin-bottom: 100px;
	border-style: solid;
	border-color: black;
	border-radius: 7px;
	border: 2px;
	/*font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*/
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 20px;
}

.information-alura a{
	color: rgb(219, 33, 33);
}

.img-information-alura{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
}
    








    /* Min-width 1200px */
@media (min-width: 1200px) {

	/* General Styles */
	.h1-large {
		font-size: 3.75rem;
		line-height: 4.375rem;
	}
	/* end of general styles */


	/* Header */
	.header {
		padding-top: 19rem;
	}

	.header .h1-large {
		margin-bottom: 14rem;
	}

	.header .expertise {
		width: 320px;
	}
	
	.header .expertise:nth-of-type(3n+2) {
		margin-right: 4.375rem;
		margin-left: 4.375rem;
	}
	/* end of header */


	/* About */
	.basic-1 {
		padding-bottom: 9rem;
	}
	
	.basic-1 .text-container.second {
		margin-top: 1.25rem;
		margin-right: 0.5rem;
		margin-left: 0.5rem;
	}
	
	.basic-1 .text-container.third {
		margin-top: 0.625rem;
		margin-left: 1rem;
	}
	/* end of about */


	/* Services */
	.basic-2 .service-container {
		width: 340px;
	}
	
	.basic-2 .service-container:nth-of-type(3n+2) {
		margin-right: 2.5rem;
		margin-left: 2.5rem;
	}

	.basic-2 .services-decoration {
		height: 80px;
	}
	/* end of services */


	/* Details 1 */
	.basic-3 .image-container {
		margin-right: 4.25rem;
	}
	
	.basic-3 .text-container {
		margin-top: 2.25rem;
	}
	/* end of details 1 */


	/* Details 2 */
	.basic-4 .image-container {
		margin-left: 4.5rem;
	}

	.basic-4 .text-container {
		margin-top: 2em;
	}
	/* end of details 2 */


	/* Details Lightbox */
	.lightbox-basic .image-container {
		margin-right: 1.5rem;
	}
	/* end of details lightbox */


	/* Details 3 */
	.basic-5 .image-container {
		margin-right: 4.25rem;
	}
	
	.basic-5 .text-container {
		margin-top: 2.25rem;
	}
	/* end of details 3 */


	/* Statistics */
	.counter #counter .cell {
		margin-right: 2.875rem;
		margin-left: 2.875rem;
	}

	.counter #counter .counter-value {
		font-size: 3.75rem;
		line-height: 4.25rem;
	}
	/* end of statistics */


	/* Testimonials */
	.slider-1 .swiper-button-prev {
		left: -24px;
	}
	
	.slider-1 .swiper-button-next {
		right: -24px;
	}
	/* end of testimonials */


	/* Footer */
	.footer .footer-col.first {
		width: 352px;
		margin-right: 6rem;
	}
	
	.footer .footer-col.second {
		margin-right: 6.5rem;
	}
	
	.footer .footer-col.third {
		text-align: right;
	}
	/* end of footer */


	/* Extra Pages */
	.ex-cards-1 .card {
		width: 336px;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 2.875rem;
		margin-left: 2.875rem;
	}
	/* end of extra pages */
	/*main style*/
.general-div-information{
	margin-top: 180px;
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
	width: auto;
	align-items: center;
}

.general-div-information h2{
	margin-bottom: 15px;
	border-style: solid;
	border-radius: 7px;
	background-color: white;
	color: black;
}

.container-description{
	display: flex;
	flex-direction: row;
	width: 80%;
	align-items: center;
	justify-content: center;
	gap: 40px;
	border: black 3px;
	border-style: solid;
	border-radius: 7px;
	background-color: #3f424b;
	color: white;

}

.div-section-information h3, p{
	text-align: center;
	padding-bottom: 15px;
	
}

/*encriptador*/
.div-text-enctipt{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
	opacity: 60%;
}

#text-for-encript, #text-encripting{
	overflow: auto; /* Esto hace que aparezca una barra de desplazamiento cuando el contenido es demasiado grande */
    white-space: pre-wrap; /* Esto hace que el texto se adapte al input */
    width: 80%;
    height: 400px;
    margin-top: 75px;
    margin-bottom: 35px;
    text-align: center;
    font-size: 35px;
    border-radius: 7px;
}

.div-buttons-section-transcript{
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 50%;
    align-items: center;
    justify-content: center;
}

/*when text has ben encriptated*/
.div-general-encript{
	margin-top: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*style of option*/
.style-option-bar{
    display: flex;
    align-items: center;
    text-align: center;
}


/*historial style*/
.input-like {
    border: 1px solid #ddd;
    padding: 10px;
    overflow: auto;
    height: 400px;
    width: 75%;
	margin-top: 20px;
    margin:40px auto;
}

.block {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.block table {
    width: 100%;
    border-collapse: collapse;
}

.block th, .block td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.block th {
    background-color: #f2f2f2;
    color: black;
}

.block tr:nth-child(even) {
    background-color: #f2f2f2;
}

/*end main*

/*information challenge*/
.information-general-alura-one{
	display: flex;
	align-items:center;
	flex-direction: column;
	justify-content: center;
}

.information-challenge-div{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.information-general-alura-one h3{
	padding-bottom: 20px;
	font-size: 35px;
}

.information-alura{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px 20px;
	width: 70%;
	text-decoration: none;
	position: relative;
	margin-top: -150px;
	background-color: white;
	margin-bottom: 100px;
	border-style: solid;
	border-color: black;
	border-radius: 7px;
	border: 2px;
	/*font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*/
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 20px;
}

.information-alura a{
	color: rgb(219, 33, 33);
}

.img-information-alura{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
}
/* end of min-width 1200px */